In [1]:
import pandas as pd

In [3]:
# Load Data
data_dir = 'C:/Users/David/Documents/VWL/Master Toulouse/Semester 2 M1/Applied  Metrics Project/Data'

population_raw = pd.read_csv(f'{data_dir}/population data/population-australia-raw.csv')
population_raw.head()

,Unnamed: 0,Estimated Resident Population ; Male ; New South Wales ;,Estimated Resident Population ; Male ; Victoria ;,Estimated Resident Population ; Male ; Queensland ;,Estimated Resident Population ; Male ; South Australia ;,Estimated Resident Population ; Male ; Western Australia ;,Estimated Resident Population ; Male ; Tasmania ;,Estimated Resident Population ; Male ; Northern Territory ;,Estimated Resident Population ; Male ; Australian Capital Territory ;,Estimated Resident Population ; Male ; Australia ;,...,Estimated Resident Population ; Female ; Australia ;,Estimated Resident Population ; Persons ; New South Wales ;,Estimated Resident Population ; Persons ; Victoria ;,Estimated Resident Population ; Persons ; Queensland ;,Estimated Resident Population ; Persons ; South Australia ;,Estimated Resident Population ; Persons ; Western Australia ;,Estimated Resident Population ; Persons ; Tasmania ;,Estimated Resident Population ; Persons ; Northern Territory ;,Estimated Resident Population ; Persons ; Australian Capital Territory ;,Estimated Resident Population ; Persons ; Australia ;
0,Unit,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,...,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,...,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE,STOCK_CLOSE
3,Frequency,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,...,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter
4,Collection Month,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3

In [4]:
#First data cleaning
population = pd.concat([population_raw.iloc[:,:1],population_raw.iloc[:,-9:]],axis = 1)
population = population.drop(list(range(0, 10)))
population.columns=["Date", "NSW1", "VIC1", "QLD1", "SA1", "WA1", "TAS1", "NT1", "ACT1","AUS"]

#Include Australian Capital Territory in New South Wales
population.iloc[:, 1:] = population.iloc[:, 1:].apply(pd.to_numeric)
population['NSW1'] = population['NSW1'] + population['ACT1']
population = population.drop(['ACT1','AUS', 'NT1', 'WA1' ], axis=1)

#Transform dates to datetime format
population['Date'] = pd.to_datetime(population['Date'], format='%b-%Y')
population = population[population['Date'] >= '2008-12-01']

#Pivote the dataframe to have one column per state
population = population.melt(id_vars=['Date'], var_name='State', value_name='population')
population.head()

        Date State population
0 2008-12-01  NSW1    7352883
1 2009-03-01  NSW1    7385774
2 2009-06-01  NSW1    7408540
3 2009-09-01  NSW1    7435485
4 2009-12-01  NSW1    7459363

In [5]:
#Save data to CSV
population.to_csv(f'{data_dir}/08-population-australia-merged.csv', index = False)
print('All data merged and saved to CSV')

All data merged and saved to CSV