In [1]:
import pandas as pd

In [8]:
# Load Data
data_dir = 'C:/Users/David/Documents/VWL/Master Toulouse/Semester 2 M1/Applied  Metrics Project/Data'

weather = pd.read_csv(f'{data_dir}/07-weather-merged.csv')
population = pd.read_csv(f'{data_dir}/08-population-australia-merged.csv')
sunshine = pd.read_csv(f'{data_dir}/07-a-sunshine-merged.csv')

# Rename column in population dataframe
population = population.rename(columns={"State": "regionid"})

# Merge data frames
merged_df = pd.merge(population, weather, on=["regionid", "Date"], how='outer')
merged_df = pd.merge(merged_df, sunshine, on=["regionid", "Date"], how='outer') 

# Sort values
merged_df = merged_df.sort_values(by=["regionid", "Date"])

# Forward fill missing values in Population column within each group
merged_df['population'] = merged_df.groupby('regionid')['population'].transform(lambda group: group.interpolate(method='linear'))

#Drop Dates before 2009 and after 2023
merged_df = merged_df.drop(merged_df[(merged_df['Date'] <= '2008-12-31') & (merged_df['Date'] >= '2024-01-01')].index).round()
merged_df.head()

,Date,regionid,population,temperature,solar_exposure_x,solar_exposure_y
0,2008-12-01,NSW1,7352883.0,NaN,NaN,NaN
22059,2009-01-01,NSW1,7353431.0,35.0,35.0,8.0
22060,2009-01-02,NSW1,7353979.0,23.0,23.0,10.0
22061,2009-01-03,NSW1,7354528.0,23.0,23.0,9.0
22062,2009-01-04,NSW1,7355076.0,27.0,27.0,9.0

In [9]:
#Save to csv
merged_df.to_csv(f'{data_dir}/09-temp-pop-merged.csv', index = False)
print("merged and saved to csv")

merged and saved to csv